# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

simple_interaction/.thumbnails
simple_interaction/bin
simple_interaction/data
data/configs
simple_interaction/include
simple_interaction/lib
simple_interaction/source/.vs
simple_interaction/source/x64
simple_interaction/utils
simple_interaction/launch_debug.bat
simple_interaction/launch_editor.bat
simple_interaction/launch_release.bat
